* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.flexer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.TB {
  border: solid 1px red;
}

.main-wrapper {
  overflow-x: hidden;
  width: 100%;
}