* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flexer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.TB {
  border: solid 1px red;
}
